body{
    background-color: black;
}
.navbar {
    background: linear-gradient(to right, #080808, #fa028a);
    height: 95px;
}

.navbar .nav-link:hover{
    border-bottom:  solid hotpink;
}

.card-sec {

display: flex;
 justify-content: center;
flex-wrap: wrap;
gap: 20px;
margin-top: 5% !important;
text-align: center;
background-color: black;
}
.card-sec .card{
    background-color:black;
    border: 2px double hotpink;
    color: hotpink;
}
.card img{
    height: auto;
}
.container{
    flex-wrap: wrap;
    gap: 10%;
}
.carousel-inner{
    margin-top: 6%;
    height: auto;
}
